body{
  background-color:#5bc0de;	
}

h1{
	margin-top: 4%;
	margin-right:23%;
	margin-left: 35%;
}

h2{
	color: #800080;
	margin-top: 1%;
	margin-right:13%;
	margin-left: 45%;
}
	

.barra{
	margin-left: 20%;
	margin-right: 12%;
}

.boton_accion{
	margin-left: 85%;
	margin-top: -70px;
}

#adjuntar{
	margin-top: 3%;
	margin-left: 73%;
	margin-right: 4%;
}

.pagos{
	margin-top: 5%;
	margin-left:66%;
}
.formularios{
	margin-top: 3%;
	margin-right:212px;
	margin-left: 220px;
}

.registro{
	margin-right:-22%;
	margin-left:52%;
}

#enviar{
	margin-top: 6%;
	margin-left: 33%;
}
 ul.dropdown-menu{
 	background: #000;
 	color: #fff !important;
 	border-radius: 30px;

 }
#titulo{
	position: relative;
	left: 50px;
}

.transferencia{
	position: relative;
	margin-top: 150px;
}

.form-group{
	position: relative;
	right: 10px;
	margin-top: -20px;
	right: 220px;
}

.submit_transf{
	position: absolute;
	top:220px;

}


#comit{
	position: relative;
	margin-top:;
	left: 10px;
}

#barra-lateral{
	position: relative;
	width: 50%;
	height: 50%;
	margin-left: -250px;
	top: -22px;
}

.modal_tienda{
	color: #F2D544;
	margin-right: 1110px;
	margin-top: -90px;
}

.modal_vender{
	color: #F2D544;
	margin-right: 1220px;
	margin-top: 20px;
}

.modal_historial{
	
	color: #F2D544;
	margin-top: 20px;
	margin-right: 1300px;
}

.modal_salir{
	
	color: #F2D544;
	margin-right: 1200px;
	margin-top: 20px;
}

.centrar-modal{
    float: none;
    margin: 0 auto;
    padding-left: 130px;
}
